<div class="row" style="margin-bottom:15px;">
  <div class="row mt-3">

    <div class="col-md-3">
      <h3>Add File</h3>

      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropzoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
        <i class="fa fa-upload fa-3x"></i>
        Drop file here
      </div>

      <!--
      Multiple
      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br /> -->

      <input type="file" ng2FileSelect [uploader]="uploader" style="display: none" #fileUploader />
      <button mat-raised-button color="primary" (click)="fileUploader.click()">File Upload</button>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>

        <button type="button" class="btn btn-success btn-s btn-space" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          <mat-icon>cloud_upload</mat-icon> Upload
        </button>

        <button type="button" class="btn btn-warning btn-s btn-space" (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading">
          <mat-icon>cancel</mat-icon> Cancel
        </button>

        <button type="button" class="btn btn-danger btn-s btn-space" (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length">
          <mat-icon>delete</mat-icon> Remove
        </button>
      </div>

    </div>
  </div>
</div>
