<div class="text-center">
  <button mat-raised-button color="primary" (click)="changePasswordBtn()">
    {{changePassText}}
  </button>
</div>

<div class="editFormGeneral" *ngIf="changePasswordMode">
  <form [formGroup]="changePassword">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Old Passowrd</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="currentPassword">
        <mat-error *ngIf="currentPassword.hasError('required')">*Old Password is required</mat-error>
        <mat-error *ngIf="currentPassword.hasError('minlength')">
          Current Password have at least {{minPw}} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Passowrd</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="newPassword">
        <mat-error *ngIf="newPassword.hasError('required')">*Password is required</mat-error>
        <mat-error *ngIf="newPassword.hasError('strongPassowrd')">
          Password must be complex at least One number, Upper letter, Small letter
        </mat-error>
        <mat-error *ngIf="newPassword.hasError('minlength')">
          Password must have at least {{minPw}} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Passowrd</mat-label>
        <input matInput #confirmPassword type="password" placeholder="Confirm password"
          formControlName="confirmNewPassword">
        <mat-error *ngIf="confirmNewPassword.hasError('required')">
          Please confirm your password
        </mat-error>
        <mat-error *ngIf="confirmNewPassword.hasError('isMatching')">
          *Passwords don't match
        </mat-error>
      </mat-form-field>
    </div>

    <div align="end">
      <button mat-raised-button color="primary" (click)="updatePassword()" [disabled]="changePassword.invalid">
        Change Password
      </button>
    </div>
  </form>
</div>

<div class="editFormGeneral">
  <form [formGroup]="editAccount">
    <div class="row">
      <mat-form-field appearance="fill">
        <input matInput type="text" placeholder="Display name" formControlName="displayName">
        <mat-error *ngIf="displayName.hasError('required')">Displayname is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">*Email is required</mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Invalid email address. Valid e-mail can contain only latin letters, numbers, '@' and '.'"
        </mat-error>
      </mat-form-field>

      <div class="" align="end">
        <button mat-raised-button color="primary" (click)="updateAccount()" align="end"
          [disabled]="editAccount.invalid">
          Update Account
        </button>
      </div>
    </div>
  </form>
</div>
