<!-- <div class="row">
 <div class="col">
    <h3>Graphic display</h3>
    <div style="display: block" class="graphic">
      <canvas baseChart [data]="chartData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [type]="'bar'">
      </canvas>
    </div>
  </div>
</div>-->
<div>
  <h3>Graphic display</h3>
  <div style="display: block" class="graphic">
    <canvas baseChart [data]="chartData" [options]="barChartOptions" [plugins]="barChartPlugins"
      [legend]="barChartLegend" [type]="'bar'">
    </canvas>
  </div>
  <hr />

  <h3>Grid View</h3>
  <mat-grid-list cols="6" rowHeight="2:1">

    <mat-grid-tile *ngFor="let file of listOfFiles">
      {{file}}
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-grid-list cols="6" rowHeight="50px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
